**/lib/**
**/venv/**
**/build/**
**/install/**
**/var/**
**/log/**

!**/log/.keep
!**/lib/.keep
!**/lib/plotjuggler
!**/lib/plotjuggler/readme.md
!**/build/.keep
!**/install/.keep

/.idea
*.blend1
**/colcon_build.zsh
**/colcon_build_config.ini
**/robot/*/rviz/*.rviz
/CMakeLists.txt

**/doc/**
!**/doc/*.tex
!**/doc/*.pdf
!**/doc/*.png
!**/doc/*.xws
**/doc/*auto*.xws
